---
layout: page-sidebar
title: About Us
meta: 'philippines travel, affordable tour packages in the philippines philippine travel agency,philippines vacation packages'
---

<section class='about main'>
   {% include hero.html %}

   <section class='mis-vis'>
      <section class='mis-vis-container'>
         <div class='mission'>
            <h3>mission</h3>
            <p>The Bohol Forest is a man-made mahogany a two-kilometer stretch of densely planted Mahogany. The naturally grown forests of Loboc and Bilar which are thick with.</p>
         </div>
         <div class='vision'>
            <h3>vision</h3>
            <p>The Bohol Forest is a man-made mahogany forest stretching in a two-kilometer stretch of densely planted Mahogany trees located in the border of Loboc and Bilar towns. </p>            
         </div>
      </section>
   </section>

   {% include advantage.html %}
</section>