<section class='social-share'>
    <!-- Email -->
    <!-- Facebook -->
    <a class='fb' href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">
        {% include icons/fb.html %}
    </a>

    <a class='twit' href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
        {% include icons/twit.html %}
    </a>

    <!-- Google+ -->
    <a class='google' href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank">
        {% include icons/google-plus.html %}
    </a>
   
    <a class='mail' href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20{{ site.url }}{{ page.url }}">
        {% include icons/mail.html %}
    </a>
</section>