<fieldset class='mother-name'>
   <h4>Name of Mother</h4>
   <span class='note strong'>
      Please use the maiden name of the mother.
   </span>
   <label>
      <span>First Name</span>
      <input name='mother-firstname' type='text' class='required' onkeydown="if((event.keyCode>47&&event.keyCode<58)||(event.keyCode>95&&event.keyCode<106))return false">
   </label>
   <label>
      <span>Middle Name</span>
      <input name='mother-middlename' type='text' class='required' onkeydown="if((event.keyCode>47&&event.keyCode<58)||(event.keyCode>95&&event.keyCode<106))return false">
   </label>
   <label>
      <span>Last Name</span>
      <input name='mother-lastname' type='text' class='required' onkeydown="if((event.keyCode>47&&event.keyCode<58)||(event.keyCode>95&&event.keyCode<106))return false">
   </label>
</fieldset>


{% capture mname %}
<div>
   <span>Mother Name</span>
   <span id='m-name'></span>
</div>    
{% endcapture %}