<fieldset>
   <h4>Contact Info</h4>
   <span class='note strong'>Please provide valid and accurate contact information. Should there be any concerns with your application, we will use these information to contact you.</span>
   <label>
      <span>Mobile Number</span>
      <input name='mobile-number' type='number' tabindex="-1">
   </label>
   <label>
      <span>Landline Number</span>
      <input name='landline-number' type='number' tabindex="-1">
   </label>
   <label>
      <span>Primary Email</span>
      <input name='email' type='email' tabindex="-1">
   </label>
   <span class='note stronger'>We will send you the amount</span>
</fieldset>