---
layout: page
title: Oceanjet
accommodation: 
 - name: Business Class
   desc: 'Air-conditioned, wider space, fewer capacity & seats are reclinable'
 - name: Tourist
   desc: 'Air-conditioned'
 - name: Open Air
   desc: 'Non-Air conditioned'
schedule:
 - name: Tagbilaran - Cebu
   short-name: tagb - cebu
   time: 
    - 06:00 am
    - 07:05 am
    - 08:20 am
    - 09:20 am
    - 10:30 am
    - 11:40 am
    - 01:00 pm
    - 02:00 pm
    - 03:30 pm
    - 04:20 pm
    - 05:30 pm
    - 06:00 pm
    - 06:30 pm
   vv: cebu - tagb
   vv-time:
    - 06:00 am
    - 07:00 am
    - 08:00 am
    - 09:20 am
    - 10:40 am
    - 01:00 pm
    - 02:00 pm
    - 03:30 pm
    - 04:20 pm
    - 06:35 pm
 - name: Cebu - Tagbilaran
   short-name: cebu - tagb
   time: 
    - 06:00 am
    - 07:00 am
    - 08:00 am
    - 09:20 am
    - 10:40 am
    - 01:00 pm
    - 02:00 pm
    - 03:30 pm
    - 04:20 pm
    - 06:35 pm
   vv: tagb - cebu
   vv-time:
    - 06:00 am
    - 07:05 am
    - 08:20 am
    - 09:20 am
    - 10:30 am
    - 11:40 am
    - 01:00 pm
    - 02:00 pm
    - 03:30 pm
    - 04:20 pm
    - 05:30 pm
    - 06:00 pm
    - 06:30 pm   
 - name: Tagbilaran - Dumaguete
   short-name: tagb - dumg
   time: 
    - 06:00 am
    - 03:00 pm
   vv: dumg - tagb
   vv-time:
    - 08:30 am
    - 05:30 pm
 - name: Dumaguete - Tagbilaran
   short-name: dumb - tagb
   time: 
    - 08:30 am
    - 05:30 pm
   vv: tagb - dumb
   vv-time:
    - 06:00 am
    - 03:00 pm
 - name: Tagbilaran - Larena Siquijor
   short-name: tagb - larena
   time: 
    - 11:00 am
   vv: larena - tagb
   vv-time:
    - 01:00 pm
 - name: Larena Siquijor - Tagbilaran
   short-name: larena - tagb
   time: 
    - 01:00 pm
   vv: tagb - larena
   vv-time:
    - 11:00 am
 - name: Cebu - Camotes
   short-name: cebu - cam
   time: 
    - 06:00 am
    - 10:00 am
    - 03:00 pm
   vv: cam - cebu
   vv-time:
    - 08:00 am
    - 01:00 pm
    - 05:00 pm
 - name: Camotes - Cebu
   short-name: cam - cebu
   time: 
    - 08:00 am
    - 01:00 pm
    - 05:00 pm
   vv: cebu - cam
   vv-time:
    - 06:00 am
    - 10:00 am
    - 03:00 pm
 - name: Cebu - Ormoc
   short-name: cebu - orm
   time: 
    - 06:00 am
    - 08:00 am
    - 10:30 am
    - 01:30 pm
    - 03:00 pm
    - 05:00 pm
   vv: orm - cebu
   vv-time:
    - 07:30 am
    - 09:30 am
    - 11:30 am
    - 01:30 pm
    - 05:30 pm
    - 07:00 pm
 - name: Ormoc - cebu
   short-name: orm - cebu
   time: 
    - 07:30 am
    - 09:30 am
    - 11:30 am
    - 01:30 pm
    - 05:30 pm
    - 07:00 pm
   vv: cebu - orm
   vv-time:
    - 06:00 am
    - 08:00 am
    - 10:30 am
    - 01:30 pm
    - 03:00 pm
    - 05:00 pm
 - name: Bacolod - Ilo-ilo
   short-name: bac - ilo
   time: 
    - 06:00 am
    - 07:30 am
    - 09:00 am
    - 10:30 am
    - 12:30 pm
    - 02:15 pm
    - 03:45 pm
    - 05:15 pm
   vv: ilo - bac
   vv-time:
    - 06:00 am
    - 07:30 am
    - 09:00 am
    - 10:30 am
    - 12:30 pm
    - 02:15 pm
    - 03:45 pm
    - 05:15 pm
 - name: Ilo-ilo - Bacolod
   short-name: ilo - bac
   time: 
    - 06:00 am
    - 07:30 am
    - 09:00 am
    - 10:30 am
    - 12:30 pm
    - 02:15 pm
    - 03:45 pm
    - 05:15 pm
   vv: bac - ilo
   vv-time:
    - 06:00 am
    - 07:30 am
    - 09:00 am
    - 10:30 am
    - 12:30 pm
    - 02:15 pm
    - 03:45 pm
    - 05:15 pm
meta: 'oceanjet online booking, book ticket with Rhizz Tours and Travel, affordable price booking oceanjet with Rhizz Tours and Travel, booking tickets, affordable ticket online, bohol ticketing outlets, oceanjet online ticketing, oceanjet express, oceanjet express tickets, oceanjet ticket outlets'
---
      
<section class='form_tick main'>
   <h2>{{ page.title }} Form</h2>
   
   <section class='form-container'>
      <form class='form' method='POST' action='https://formspree.io/{{site.data.settings.email}}'>
         
         <input name='ship' value='{{ page.title }}' style='display: none'>
         
         <div class='passenger-details'>
            <fieldset class='passenger-name'>
               <h4>Passenger 1</h4>
               <label class='fname'>
                  <span>First Name</span>
                  <input type='name' name='passenger1-firstname' onkeydown="if((event.keyCode>47&&event.keyCode<58)||(event.keyCode>95&&event.keyCode<106))return false">
               </label>            
               <label class='mname'>
                  <span>Middle Name</span>
                  <input type='name' name='passenger1-middlename' class='required'  onkeydown="if((event.keyCode>47&&event.keyCode<58)||(event.keyCode>95&&event.keyCode<106))return false">
               </label>
               <label class='lname'>
                  <span>Last Name</span>
                  <input type='name' name='passenger1-lastname' class='required' onkeydown="if((event.keyCode>47&&event.keyCode<58)||(event.keyCode>95&&event.keyCode<106))return false">
               </label>
               <label class='age'>
                  <span>Age</span>
                  <input type='number' name='passenger1-age' class='required'>
               </label>
            </fieldset>  
            <fieldset class='passenger-name'>
               <h4>Passenger 2</h4>
               <label class='fname'>
                  <span>First Name</span>
                  <input type='name' name='passenger2-firstname' onkeydown="if((event.keyCode>47&&event.keyCode<58)||(event.keyCode>95&&event.keyCode<106))return false">
               </label>            
               <label class='mname'>
                  <span>Middle Name</span>
                  <input type='name' name='passenger2-middlename' onkeydown="if((event.keyCode>47&&event.keyCode<58)||(event.keyCode>95&&event.keyCode<106))return false">
               </label>
               <label class='lname'>
                  <span>Last Name</span>
                  <input type='name' name='passenger2-lastname' onkeydown="if((event.keyCode>47&&event.keyCode<58)||(event.keyCode>95&&event.keyCode<106))return false">
               </label>
               <label class='age'>
                  <span>Age</span>
                  <input type='number' name='passenger2-age'>
               </label>
            </fieldset>  
            <fieldset class='others-details'> 
               <h4>Other Details</h4>
               <label class='origin'>
                  <span>Origin/ Itinerary</span>
                  <div>
                  {% for item in page.schedule %}
                  <span class='origin-item'><input id='{{ item.short-name }}' type='radio' name='origin' value='{{ item.name }}' data-vv='{{ item.vv | replace: ' ', '' }}' data-route='{{ item.short-name | replace: ' ' ,'' }}' {% if forloop.first %}checked{% endif %}><label for='{{ item.short-name }}'>{{ item.short-name }}</label></span>
                  {% endfor %}
                  </div>
               </label>
               <label class='accomm'>
                  <span>Accommodation</span>
                  <select id='accomm' name='accommodation' class='required'>
                     <option value='--' disabled selected>--</option>
                     {% for item in page.accommodation %}
                     <option value='{{ item.name }}'>{{ item.name }}</option>
                     {% endfor %}
                  </select>                  
               </label>  
            </fieldset>
            <fieldset class='time depart'>
               <h4>Date and Time of Departure</h4>
               <label class='month'>
                  <span>Month</span>
                  <select id='d-month' name='departure-month' class='required'>
                     <option value='--' disabled selected>--</option>
                     <option value='january'>January</option>
                     <option value='febuary'>Febuary</option>
                     <option value='march'>March</option>
                     <option value='april'>April</option>
                     <option value='may'>May</option>
                     <option value='june'>June</option>
                     <option value='july'>July</option>
                     <option value='august'>August</option>
                     <option value='september'>September</option>
                     <option value='october'>October</option>
                     <option value='november'>November</option>
                     <option value='december'>December</option>
                  </select>
               </label>
               <label class='day'>
                  <span>Day</span>
                  <select id='d-day' name='departure-day' class='required'>
                     <option value='--' disabled selected>--</option>
                     <option value='01'>1</option>
                     <option value='02'>2</option>
                     <option value='03'>3</option>
                     <option value='04'>4</option>
                     <option value='05'>5</option>
                     <option value='06'>6</option>
                     <option value='07'>7</option>
                     <option value='08'>8</option>
                     <option value='09'>9</option>
                     <option value='10'>10</option>
                     <option value='11'>11</option>
                     <option value='12'>12</option>
                     <option value='13'>13</option>
                     <option value='14'>14</option>
                     <option value='15'>15</option>
                     <option value='16'>16</option>
                     <option value='17'>17</option>
                     <option value='18'>18</option>
                     <option value='19'>19</option>
                     <option value='20'>20</option>
                     <option value='21'>21</option>
                     <option value='22'>22</option>
                     <option value='23'>23</option>
                     <option value='24'>24</option>
                     <option value='25'>25</option>
                     <option value='26'>26</option>
                     <option value='27'>27</option>
                     <option value='28'>28</option>
                     <option value='29'>29</option>
                     <option value='30'>30</option>
                     <option value='31'>31</option>
                     <option value='33'>32</option>
                  </select>                  
               </label>
               <label class='year'>
                  <span>Year</span>
                  <select id='d-year' name='departure-year' class='required'>
                     <option value='--' disabled selected>--</option>
                     <option value='2017'>2017</option>
                     <option value='2018'>2018</option>
                     <option value='2019'>2019</option>
                     <option value='2020'>2020</option>
                  </select>
               </label>
               {% for item in page.schedule %}
               <label class='sched-item {{ item.short-name | replace: ' ', '' }} {% if forloop.first %}active-sched{% endif %} time'>
                  <span>Hour</span>
                  <select id='d-time' name='departure-hour'{% if forloop.first %} class='required'{% endif %}>
                     <option value='--' disabled selected>--</option>
                     {% for time in item.time %}
                     <option value='{{ time }}'>{{ time }}</option>
                     {% endfor %}
                  </select>
               </label>
               {% endfor %}
            </fieldset>
            <fieldset class='time return'>               
               <h4>Date and Time of Return</h4>
               <label class='month'>
                  <span>Month</span>
                  <select id='r-month' name='return-month'>
                     <option value='--' disabled selected>--</option>
                     <option value='january'>January</option>
                     <option value='febuary'>Febuary</option>
                     <option value='march'>March</option>
                     <option value='april'>April</option>
                     <option value='may'>May</option>
                     <option value='june'>June</option>
                     <option value='july'>July</option>
                     <option value='august'>August</option>
                     <option value='september'>September</option>
                     <option value='october'>October</option>
                     <option value='november'>November</option>
                     <option value='december'>December</option>
                  </select>
               </label>
               <label class='day'>
                  <span>Day</span>
                  <select id='r-day' name='return-day'>
                     <option value='--' disabled selected>--</option>
                     <option value='01'>1</option>
                     <option value='02'>2</option>
                     <option value='03'>3</option>
                     <option value='04'>4</option>
                     <option value='05'>5</option>
                     <option value='06'>6</option>
                     <option value='07'>7</option>
                     <option value='08'>8</option>
                     <option value='09'>9</option>
                     <option value='10'>10</option>
                     <option value='11'>11</option>
                     <option value='12'>12</option>
                     <option value='13'>13</option>
                     <option value='14'>14</option>
                     <option value='15'>15</option>
                     <option value='16'>16</option>
                     <option value='17'>17</option>
                     <option value='18'>18</option>
                     <option value='19'>19</option>
                     <option value='20'>20</option>
                     <option value='21'>21</option>
                     <option value='22'>22</option>
                     <option value='23'>23</option>
                     <option value='24'>24</option>
                     <option value='25'>25</option>
                     <option value='26'>26</option>
                     <option value='27'>27</option>
                     <option value='28'>28</option>
                     <option value='29'>29</option>
                     <option value='30'>30</option>
                     <option value='31'>31</option>
                     <option value='33'>32</option>
                  </select>                  
               </label>
               <label class='year'>
                  <span>Year</span>
                  <select id='d-year' name='return-year'>
                     <option value='--' disabled selected>--</option>
                     <option value='2017'>2017</option>
                     <option value='2018'>2018</option>
                     <option value='2019'>2019</option>
                     <option value='2020'>2020</option>
                  </select>
               </label>
               {% for item in page.schedule %}
               <label class='sched-item {{ item.vv | replace: ' ', '' }} {% if forloop.first %}active-sched{% endif %} time'>
                  <span>Hour</span>
                  <select id='r-time' name='return-hour'>
                     <option value='--' disabled selected>--</option>
                     {% for time in item.vv-time %}
                     <option value='{{ time }}'>{{ time }}</option>
                     {% endfor %}
                  </select>
               </label>
               {% endfor %}
            </fieldset>
            <fieldset class='cta-submit'>
               <span class='continue'>Continue</span>
            </fieldset>  
         </div>
         
         
         <div class='other-details'>            
            <div class='requestor-summary'>
               <fieldset>
                  <h4>Order Summary</h4>
                  <div>
                     <span>Ship</span>
                     <span id='type'>{{ page.title }}</span>
                  </div>

                  <div>
                     <span>Passenger 1 Name</span>
                     <span id='pass1'></span>
                  </div>

                  <div>
                     <span>Passenger 2 Name</span>
                     <span id='pass2'></span>
                  </div>

                  <div>
                     <span>Origin</span>
                     <span id='origin'></span>
                  </div>
                  
                  <div>
                     <span>Accommodation</span>
                     <span id='accommodation'></span>
                  </div>
                  
                  <div>
                     <span>Date of Departure</span>
                     <span id='depart'></span>
                  </div>
                  
                  <div>
                     <span>Date of Return</span>
                     <span id='return'></span>
                  </div>
                  
               </fieldset>
               <fieldset class='edit'>
                  <span class='edit-btn'>edit</span>
               </fieldset>
            </div>            
            <div class='contact-details'>
               
               {% include ticketing/contact.html %}

               <fieldset class='cta-submit'>
                  <input type='submit' value='submit' tabindex="-1">
               </fieldset>   
            </div>
         </div>   
         
      </form>         
   </section> 
</section>