---
layout: page
---
<section class='tours-and-travel-post main'>
   <div class='text-img'>
      <section class='img-wrapper'>      
         <figure class='img'>
            <img src='{{ site.baseurl }}/assets/img/services/{{ page.category }}/{{ page.title | downcase }}/{{ page.img }}' alt='Tours and Travel {{ page.title }} {{ site.data.settings.title }}'>
         </figure>    
         <h3>Map</h3>          
         <iframe class='map' src="{{ page.map }}" frameborder="0" allowfullscreen></iframe>
      </section>
      
      <section class='text-wrapper'>
         <h2 class='big-title'>{{ page.title}} Tour Packages </h2>
         <h3>Day Tour</h3>
         <a href='/'>{% include icons/check.html %} <span>{{ page.title | capitalize }} Countryside Tour Package</span></a>
         <a href='/'>{% include icons/check.html %} <span>{{ page.title | capitalize }} Countryside Tour w/ Roundtrip Seafare</span></a>
         <a href='/'>{% include icons/check.html %} <span>{{ page.title | capitalize }} Island Hopping Tour Package</span></a>
         <a href='/'>{% include icons/check.html %}Panglao Half Day Tour Package</a>
         <a href='/'>{% include icons/check.html %} <span>{{ page.title | capitalize }} Tour Vehicle Rental</span></a>    
         <h3>2D1N {{ page.title | capitalize }} Tour</h3>
         <a href='/'>{% include icons/check.html %} <span>{{ page.title | capitalize }} w/ Countryside Tour Package</span></a>
         <a href='/'>{% include icons/check.html %} <span>{{ page.title | capitalize }} w/ Countryside + Panglao Island Tour Package</span></a>
         <a href='/'>{% include icons/check.html %} <span>{{ page.title | capitalize }} w/ Countryside + Island Hopping Tour Package</span></a>
         <a href='/'>{% include icons/check.html %} <span>{{ page.title | capitalize }} Ultimate Tour Package</span></a>
         <a href='/'>{% include icons/check.html %} <span>{{ page.title | capitalize }} Ultimate Tour + Roundtrip Ferry Ticket Package</span></a>  
         <h3>3D2N {{ page.title | capitalize }} Tour</h3>
         <a href='/'>{% include icons/check.html %} <span>{{ page.title | capitalize }} w/ Countryside Tour Package</span></a>
         <a href='/'>{% include icons/check.html %} <span>{{ page.title | capitalize }} w/ Countryside + Panglao Island Tour Package</span></a>
         <a href='/'>{% include icons/check.html %} <span>{{ page.title | capitalize }} w/ Countryside + Island Hopping Tour Package</span></a>
         <a href='/'>{% include icons/check.html %} <span>{{ page.title | capitalize }} Ultimate Tour Package</span></a>
         <a href='/'>{% include icons/check.html %} <span>{{ page.title | capitalize }} Ultimate Tour + Roundtrip Ferry Ticket Package</span></a>  
         <h3>4D3N {{ page.title | capitalize }} Tour</h3>
         <a href='/'>{% include icons/check.html %} <span>{{ page.title | capitalize }} w/ Countryside Tour Package</span></a>
         <a href='/'>{% include icons/check.html %} <span>{{ page.title | capitalize }} w/ Countryside + Panglao Island Tour Package</span></a>
         <a href='/'>{% include icons/check.html %} <span>{{ page.title | capitalize }} w/ Countryside + Island Hopping Tour Package</span></a>
         <a href='/'>{% include icons/check.html %} <span>{{ page.title | capitalize }} Ultimate Tour Package</span></a>
         <a href='/'>{% include icons/check.html %} <span>{{ page.title | capitalize }} Ultimate Tour + Roundtrip Ferry Ticket Package</span></a>  
      </section>
   </div>
</section>
